body {
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}
img {
    padding: 50px;
    margin: auto;
    width: fit-content;
}
#word {
    background-color: rgb(255, 230, 0);
    border: none;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    outline: none;
}
#searchClick {
    border-radius: 30px;
    background-color: rgb(97, 82, 226);
    color: white;
    border: none;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
#searchClick:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(226, 82, 178);;
}
.searchDiv {
    text-align: center;
}
hr {
   margin: 30px;
   border: 1px solid;
}